<section class="flex justify-end mt-5">
    <p class="md:text-5xl text-xl">Sobre</p>
</section>
<div class="flex justify-end mt-8">
    <div class="md:w-5xl w-full">
        <div class="card glass border-l-8 border-current p-12 gap-6">
            <div class="flex justify-around">
                <div class="columns-md self-center">
                    <p class="text-2xl my-3 text-base-content text-center">
                        {{ sobre.nome }}
                    </p>
                    <p class="text-xl my-3 text-base-content text-center">
                        {{ sobre.profissao }}
                    </p>
                </div>
                {% if sobre.foto == "" or sobre.foto == null %}
                    <img src="" alt="Imagem do sobre">
                {% else %}
                    <img class="w-48 h-48 rounded-full" src="{{ sobre.foto.url }}" alt="Imagem do sobre">
                {% endif %}
            </div>
            
            
            <p class="text-base my-3 text-base-content">
                {{ sobre.descricao|safe }}
            </p>
        </div>
    </div>
</div>