<section class="flex justify-end mt-5">
    <p class="md:text-5xl text-xl">Tecnologias</p>
</section>
<div class="flex justify-end mt-8" id="tecnologia-section">
    <div class="md:w-5xl w-full glass p-6 rounded-lg flex flex-wrap lg:justify-between justify-center gap-8">
        {% for tecnologia in tecnologias %}
        <div class="card">
            <img width="124" height="124" src="{{ tecnologia.icone.url }}" alt="{{ tecnologia.nome }}"
                class="card__icon" />
            <div class="card__content">
                <p class="card__title">{{ tecnologia.nome }}
                </p>
                <p class="card__description">
                    {{ tecnologia.descricao }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>